@(message: String)

@main("Competitors") {

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Конкуренты</p>
                <div id="competitors" class="list-group">
                </div>
            </div>

            <div class="col-md-9 col-sm-12">

                <h4>Подписчики</h4>

                <div class="thumbnail">
                    <div id="chart">
                    </div>
                </div>

                <h4>Отзывы</h4>

                <div class="well">
                    <div id="reviews">
                    </div>

                    <div class="text-center">
                        <div id="bLoadReviews" class="btn btn-success">Загрузить ещё</div>
                    </div>
                </div>

                <h4>Товары</h4>

                <div id="goods" class="row">
                </div>

                <div class="row">
                    <div class="text-center">
                        <div id="bLoadGoods" class="btn btn-success">Загрузить ещё</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.container -->

    <script type="text/javascript">
        $(document).ready(function(){

            var rDefCount = 5;
            var gDefCount = 8;

            $.get("competitors",
                function(data) {
                    var container = $("#competitors");
                    data.forEach(function(entry) {
                        container.append("<a href='#' class='list-group-item cmpdtr' cmp-id='"+ entry.id +"'>" + entry.name + "</a>");
                    });

                    var cmdtrs = $(".cmpdtr");

                    cmdtrs.click(function(){
                        $(".cmpdtr").each(function(){
                            $(this).removeClass('active');
                        });
                        $(this).addClass('active');

                        var rContainer = getRContainer();
                        var gContainer = getGContainer();

                        rContainer.empty();
                        gContainer.empty();

                        var cmpId = getCmpId();

                        // get chart
                        $.get("chart/" + cmpId,
                            function(points){
                                var x = [];
                                var amount = [];
                                var change = [];
                                points.forEach(function(p){
                                    x.push(p.x);
                                    amount.push(p.amount);
                                    change.push(p.change);
                                });
                                generateChart(x, amount, change);
                            });

                        getReviews(cmpId, rContainer, 0, rDefCount);
                        getGoods(cmpId, gContainer, 0, gDefCount);
                    });

                    cmdtrs.get(0).click();
            });

            // load reviews button
            $("#bLoadReviews").click(function(){
                var rCount = $("#reviews").find("> div").children().length;
                getReviews(getCmpId(), getRContainer(), rCount, rDefCount);
            });

            // load goods button
            $("#bLoadGoods").click(function(){
                var gCount = $("#goods").find("> div").children().length;
                getGoods(getCmpId(), getGContainer(), gCount, gDefCount);
            });

            function getCmpId() {
                return $(".cmpdtr.active").attr("cmp-id");
            }

            function getRContainer() {
                return $("#reviews");
            }

            function getGContainer() {
                return $("#goods");
            }

            function getReviews(id, container, skip, take) {
                $.get("review/" + id, {skip: skip, take: take},
                        function(reviews){
                            reviews.forEach(function(r){
                                var str = "<div class='row animated fadeIn'><div class='col-md-12'><b>" + r.author +
                                        "</b><span class='pull-right'>" + r.date +
                                        "</span><p>" + r.text + "</p></div></div><hr>";
                                container.append(str);
                            })
                        });
            }

            function getGoods(id, container, skip, take) {
                $.get("goods/" + id, {skip: skip, take: take},
                        function(gds){
                            gds.forEach(function(g){
                                var str = "<div class='col-sm-6 col-lg-3 col-md-3 animated fadeIn'>" +
                                        "<div class='thumbnail'>" +
                                        "<a href='" + g.url + "' target='_blank'><img src='" + g.imgUrl + "' alt=''></a>" +
                                        "<div class='caption'>" +
                                        "<h5 class='pull-right'>\u20bd" + parseFloat(Math.round(g.price * 100) / 100).toFixed(2) + "</h5>" +
                                        "<h5><a href='" + g.url + "' target='_blank'>" + g.name + "</a></h5></div></div></div>";
                                container.append(str);
                            });
                        });
            }

            function generateChart(x, amount, change) {

                var xArr = ['x'].concat(x);
                var absArr = ['Абсолютное'].concat(amount);
                var chngArr = ['Изменение'].concat(change);

                var chart = c3.generate({
                    bindto: '#chart',
                    data: {
                        x: 'x',
                        columns: [
                            xArr,
                            absArr,
                            chngArr
                        ],
                        axes: {
                            Изменение: 'y2'
                        },
                        types: {
                            Изменение: 'bar'
                        }
                    },
                    axis: {
                        x: {
                            type: 'timeseries',
                            tick: {
                                format: '%Y-%m-%d'
                            }
                        },
                        y: {
                            label: {
                                text: 'Абсолютное значение',
                                position: 'outer-middle'
                            }
                        },
                        y2: {
                            show: true,
                            label: {
                                text: 'Изменение в день',
                                position: 'outer-middle'
                            }
                        }
                    }
                });
            }


        });
    </script>
}
